
/*	Page D'accueil*/



.index-h1 {
text-align: center;
color: #585989;
border-style: solid #dadada;
background-color: #dadada;
margin: 0% 20% 12% 20%;
}


.acc_ctn{
	text-align: center;
	border: 2px solid grey;
	background: #dadada;
	margin-left: 30%;
	margin-right:30%;
	padding-bottom: 15px;
}



.acc_chx a {
color : white;
border: 2px solid #585989 ;
background:  #585989 ;
padding: 5px;
text-decoration: none;

}

body
{
    background:  url("./Image/Background.png") fixed;
}

p {
	color:  #585989 ;
}

/* Fin de la page d'accueil*/

/*Page connexion*/

.cnx_f {
	text-align: center;
	border: 2px solid grey;
	background: white;
	margin-top: 15%; 
	margin-left: 30%;
	margin-right:30%;
	padding-bottom: 15px;

}


/*Fin de page connexion*/
/* Page inscription*/

.form_pra{
	text-align: :center;
	border: 2px solid grey;
	background: white;
	margin-top: 5%; 
	margin-left: 30%;
	margin-right:30%;
	padding-bottom: 15px;
}

.formulaire {
	text-align: center;
	border: 2px solid grey;
	background: white;
	margin-top: 5%; 
	margin-left: 30%;
	margin-right:30%;
	padding-bottom: 15px;
}


.alerte{

	color: #fa0000;

}

.bouton {
	border-radius:12px 0 12px 0;
	background: #f5f5f5;
	border:none;
	color:#555;
	font:bold 12px Verdana;
	padding:6px 0 6px 0;
	border:1px solid #ccc;
}
/*Fin inscription*/
/*Page d'accueil_connexion*/

